/* Reset propriedades */
body, h1, h2, p, ul, li, a {
	margin: 0px;
  padding: 0px;
}
/* Defindo a fonte geral e a cor */
body {
	font-family: "Nunito", Helvetica, Arial, sans-serif;
	color: #222222;
}

/* Removendo os estilos das listas */
ul {
	list-style: none;
}
 /* Removendo os estilos dos links */
a {
	text-decoration: none;
}

/* Comfigurando as imagens (forma responsiva tbm)  */
img {
	display: block;
	max-width: 100%;
}
/* Estilizando tds */
* {
	box-sizing: border-box;
}

/* SuperInfo */

.superinfo-bg {
  background: #122ab2;
  color: white;
}

.superinfo {
  max-width: 960px;
  margin: 0 auto;  /* centralizar o item a partir de 960px*/
  display: flex;  /* Torna o elemento um flex container automaticamente transformando todos os seus filhos diretos em flex itens. */
  justify-content: space-between; /* Cria um espaçamento igual entre os elementos. Mantendo o primeiro grudado no início e o último no final. */
  flex-wrap: wrap; /* Define se os itens devem quebrar ou não a linha */
  padding-top: 10px;
}

/* Cada um dos items do superinfo */
.superinfo p, .superinfo a{
  margin: 0 10px 10px 10px ;
}

.superinfo a{
  color: white;
}

/*Menu*/

.menu-bg {
	background: #2c70ff;
}

/* container geral que pega os items*/
.menu {
	max-width: 960px;
	margin: 0 auto;
	padding: 15px 0;
	display: flex;
	flex-wrap: wrap; /* Para poder quebrar MOBILE*/
	justify-content: space-between; /* Espaço igual*/
	align-items: center; /* Centraliza o item no centro*/
}

.menu a {
	color: white;
}

.menu-logo a {
	font-size: 2.25em;
	font-weight: bold;
	margin: 0 10px;
}

.menu-nav ul {
	display: flex;
	flex-wrap: wrap; /* Para poder quebrar MOBILE*/
}

.menu-nav a {
	font-size: 1.25em;
	display: block;
	padding: 10px;
}

.menu-nav a:hover{
	color: #122ab2;
}

/* Introdução  */
