/* Reset propriedades */
body, h1, h2, p, ul, li, a {
	margin: 0px;
  padding: 0px;
}
/* Defindo a fonte geral e a cor */
body {
	font-family: "Nunito", Helvetica, Arial, sans-serif;
	color: #222222;
}

/* Removendo os estilos das listas */
ul {
	list-style: none;
}
 /* Removendo os estilos dos links */
a {
	text-decoration: none;
}

/* Comfigurando as imagens (forma responsiva tbm)  */
img {
	display: block;
	max-width: 100%;
}
/* Estilizando tds */
* {
	box-sizing: border-box;
}

/* SuperInfo */

.superinfo-bg {
  background: #122ab2;
  color: white;
}

.superinfo {
  max-width: 960px;
  margin: 0 auto;  /* centralizar o item a partir de 960px*/
  display: flex;  /* Torna o elemento um flex container automaticamente transformando todos os seus filhos diretos em flex itens. */
  justify-content: space-between; /* Cria um espaçamento igual entre os elementos. Mantendo o primeiro grudado no início e o último no final. */
  flex-wrap: wrap; /* Define se os itens devem quebrar ou não a linha */
  padding-top: 10px;
}

/* Cada um dos items do superinfo */
.superinfo p, .superinfo a{
  margin: 0 10px 10px 10px ;
}

.superinfo a{
  color: white;
}

/*Menu*/

.menu-bg {
	background: #2c70ff;
}

/* container geral que pega os items*/
.menu {
	max-width: 960px;
	margin: 0 auto; /* Alinha ao centro */
	padding: 15px 0;
	display: flex;
	flex-wrap: wrap; /* Para poder quebrar MOBILE*/
	justify-content: space-between; /* Espaço igual*/
	align-items: center; /* Centraliza o item no centro*/
}

.menu a {
	color: white;
}

.menu-logo a {
	font-size: 2.25em;
	font-weight: bold;
	margin: 0 10px;
}

.menu-nav ul {
	display: flex;
	flex-wrap: wrap; /* Para poder quebrar MOBILE*/
}

.menu-nav a {
	font-size: 1.25em;
	display: block;
	padding: 10px;
}

.menu-nav a:hover{
	color: #122ab2;
}

/* Introdução  */

.introducao {
	font-size: 3em;
	line-height: 1;
	max-width: 960px;
	margin: 0 auto;
	padding: 60px 10px;
}

/* Sobre */

.sobre{
	border-top: 2px solid #2c70ff;
	border-bottom: 2px solid #2c70ff;
	max-width: 960px;
	margin: 0 auto;
	padding: 60px 0;
	display: flex;
	flex-wrap: wrap; /* Para quebrar*/
}

.sobre-info{
	flex: 2 1 300px; /* Vai utilizar mais de dois espeçaos na tela*/
	margin: 0 10px;
}

.sobre-info h1{
	font-size: 3em;
	margin-bottom: .5em;
}

.sobre-info p {
	font-size: 1.25em;
	line-height: 1.4;
	margin-bottom: 1em;
	color: #7c7c7c;
}

.sobre-img{
	flex: 1 1 160px;
	margin: 0 10px;
}

/* Produtos */

.produtos{
	max-width: 960px;
	margin: 60px auto;
}

.produtos h1{
	font-size: 3em;
	margin: 0 10px 60px 10px;
}

.produtos-container{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;

}

/* Vai deixar o container como: menor - maior - menor */
.produtos-item{
	flex: 1 1 175px;
	margin: 10px;
}

.produtos-item h2 {
	font-size: 3em;
	color: #a4a4a4 ;
	background: #f7f7f7;
	padding: 60x 20px;
	/* min-width: 175px; foi usado porque em alguns navegadores ignoravam a tipografia (sem usar basics */
}

/* Linha de cima*/
.purple{
	border-top: 8px solid #ae81ff;
}

.pink{
	border-top: 8px solid #f9265e;
}

.blue{
	border-top: 8px solid #66d9eb;
}

/* Preço */

.preco {
	background: #f7f7f7;
	padding: 60px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end ;
}

.preco-item{
	flex: 1 1 260px; /* Aumenta de ponta a ponta */
	border: 4px solid white;
	padding: 20px;
	margin: 10px;
}

.preco-item h2{
	font-size: 3em;
	color: #a4a4a4;
	text-align: center;
	margin-top: 20px;
}

.preco-item span{
	max-width: 300px;
	margin: 20px auto;
	display: block; /* por padão o span é  display iline */
	font-size: 3em;
	text-align: center;
	font-weight: bold;
	padding: 10px 0 5px 0;
	border-top: 4px solid white;
	border-bottom: 4px solid white;
}
/* sup = S */
.preco-item  sup{
	font-size: 1.5rem;
}

.preco-item  ul{
	max-width: 300px;
	margin: 20px auto;
	font-size: 1.25em;
	font-style: #7c7c7c;
}

/* Alinahndo */
.preco-item li{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;
}

/* Cirando a bolinah do lado*/
.preco-item li::after { /* ::afeter = td vai ir dps das linhas (lado)*/
	content: ''; /* escreve após o li*/
	display: block;
	width: 6px;
	height: 6px;
	background: #2c70ff;
	border-radius: 50%;
}

.preco-item a{
	max-width: 300px;
	display: block;
	margin: 20px auto;
	border: 4px solid;
	color: #222222;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2.24em;
	padding: 15px 0;
	text-align: center;
}

@media (max-width: 700px){
	.preco {
		padding-left: 10px;
		padding-right: 10px;
	}
	/* inverte os itens*/
	/* pega um único filho*/
	.preco .preco-item:nth-child(3){
		order: -2;
	}
	.preco .preco-item:nth-child(2){
		order: -1;
	}
}